#body {
  background-color: #2b2a2a;
}

#theI {
  color: #00bfff;
  font-size: 100px;
  margin-right: 10px;
  font-weight: 900;
}

.logo {
  float: right;
  display: inline-block;
  margin-left: 20px;
}

.header {
  font-weight: 900;
  font-family: 'Architects Daughter';
  font-size: 75px;
  margin-top: -10px;
  margin-left: 3%;
  margin-right: 10px;
  margin-bottom: 25px;
  color: Ivory;
  max-width: 250px;
}

.searchBar {
  text-align: center;
  margin-top: 50px;
}

.searchButton {
  margin-left: 50px;
  font-family: 'Architects Daughter';
  font-size: 30px;
  font-weight: 900;
}

.initialText {
  margin-left: 50px;
  font-family: 'Architects Daughter';
  font-size: 50px;
  font-weight: 900;
}

.stage {
  text-align: center;
  margin-bottom: 50px;
}

.stageImage {
  width: 650px;
}

.stageImageCaptionSet {
  margin-bottom: 50px;
  text-align: center
}

.stageImageCaption {
  font-family: 'Architects Daughter';
  font-size: 20px;
  width: 450px;
}

.saveCaptionButton {
  font-family: 'Architects Daughter';
  font-size: 20px;
  display: inline-block;
  margin-left: 30px;
  border-radius: 10px;
}

input {
  height: 40px;
  width: 300px;
}

.search {
  font-size: 20px;
  border-radius: 5px;
}

.storyLine {
  margin-top: -60px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

.storyLineEntry {
  display: inline-block;
  margin: 60px 40px 40px 40px;
  vertical-align: middle;
  box-shadow: 20px 20px 20px black;
}

img {
  box-shadow: 20px 20px 20px black;
}

.allImagesContainer {
  text-align: center;
}

.allImages {
  text-align: center;
  width: auto;
  margin-top: 90px;
}

.imageEntryBlock {
  background-color: grey;
  border-style: solid;
  display: inline-block;
}

.eachImage {
  height: 300px;
  width: 300px;
  margin: 40px 40px 40px 40px;
  border-style: groove;
  border-color: gray;
}

.removePic {
  margin-left: 96%;
}

.hidden {
  display: none;
  margin: 30px;
  font-family: 'Architects Daughter';
  font-size: 20px;
}

.captionBox {
  display: none;
}
